In [3]:
%matplotlib inline

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

**numpy** - работа с числа, числови данни <br/>
**pandas** - работа с данни  <br/>
**matplotlib** - работа с визуализации  <br/>

# Data Acquisition
### Събиране на данни

Data science е повече science и по-малко data.


Четем данните от различни източници: <br/>
    - текстови файлове  <br/>
    - Excel  <br/>
    - SQL Бази данни  <br/>

Принципи за събиране и валидиране на данни (Data Consolidation Principles)

#### The Scientific Method Steps

Процесът за събиране на данни винаги започва с въпрос - не с данни, не с хипотеза, а с въпрос. Въпросите може да са няколко, а не само един, може и да не е добре формулиран. <br/>
След това правим рисърч. Разбираме какво се прави, това как да прехвърлим задачата от абстрактна бизнес задача към такава, която може да позволи данните да бъдат анализирани и моделирани. <br/>
След това формулираме хипотеза. Вече знаем, че една хипотеза всъщност са две хипотези, които си противоречат. Тук често създаваме няколко хипотези.
След това вече правим експеримент. Това е моментът в който за първи път получаваме данни. <br/>
Процесът продължава с анализ на резултатите. <br/>
хипотезата ни е или вярна или не. <br/>
Много често продължаваме нататък със същия дейтасет.

В pandas можем да правим или да четем много различни видове data frames (data sets), което означава не просто колекция от данни, а множество от данни. <br/>
**С Shift + Tab се показва документацията.**

In [8]:
pd.DataFrame({"name":["Ivan", "Georgi"], "surname": ["Angelov", "Georgiev"], "age": [27, 34]})

     name   surname  age
0    Ivan   Angelov   27
1  Georgi  Georgiev   34

Данните, които можем да прочетем се наричат структурирани данни.

В други случеи ще ни трябва да използваме изображения, видеа, текстове, музика, човешки глас, птичи данни и др., тогава имаме неструктурирани данни.

Това, което наричаме модел (schema) е самата структура: какви колони има, какво означават тези колони и какво съдържа тази таблица.
Таблиците могат да бъдат във всякакъв формат. най-често ги получаваме в текстов файл (csv, comma separated values).

In [14]:
pd.read_table("accidents.csv", sep = ",")

  Miles from Home  % of Accidents
0     less than 1              23
1          1 to 5              29
2         6 to 10              17
3        11 to 15               8
4        16 to 20               6
5         over 20              17

In [16]:
accidents = pd.read_csv("accidents.csv")

In [23]:
accidents

  Miles from Home  % of Accidents
0     less than 1              23
1          1 to 5              29
2         6 to 10              17
3        11 to 15               8
4        16 to 20               6
5         over 20              17

In [24]:
type(accidents)

pandas.core.frame.DataFrame

In [18]:
accidents.index

RangeIndex(start=0, stop=6, step=1)

In [19]:
accidents.columns

Index(['Miles from Home', '% of Accidents'], dtype='object')

In [21]:
accidents['Miles from Home']

0    less than 1
1         1 to 5
2        6 to 10
3       11 to 15
4       16 to 20
5        over 20
Name: Miles from Home, dtype: object

In [25]:
type(accidents['Miles from Home'])

pandas.core.series.Series

Колоната и таблицата имат различна визуализация, защото са от различен тип.

In [26]:
type(accidents[['Miles from Home']])

pandas.core.frame.DataFrame

Колоните могат да се преименуват:

In [33]:
accidents.columns = ["miles_from_home", "pct_of_accidents"]

In [34]:
accidents

  miles_from_home  pct_of_accidents
0     less than 1                23
1          1 to 5                29
2         6 to 10                17
3        11 to 15                 8
4        16 to 20                 6
5         over 20                17

In [29]:
accidents.miles_from_home

0    less than 1
1         1 to 5
2        6 to 10
3       11 to 15
4       16 to 20
5        over 20
Name: miles_from_home, dtype: object

In [31]:
accidents.shape

(6, 2)

shape казва колко реда и колко колони съдържа таблицата.

In [35]:
accidents.describe().T

                  count       mean       std  min    25%   50%   75%   max
pct_of_accidents    6.0  16.666667  8.733079  6.0  10.25  17.0  21.5  29.0

In [37]:
accidents.dtypes

miles_from_home     object
pct_of_accidents     int64
dtype: object

Object може да означава object наистина, но може да означава и string.

Можем да сменяме indexa:

In [39]:
accidents.reset_index()

   index miles_from_home  pct_of_accidents
0      0     less than 1                23
1      1          1 to 5                29
2      2         6 to 10                17
3      3        11 to 15                 8
4      4        16 to 20                 6
5      5         over 20                17

С reset_index() отива като нова колона.

In [40]:
accidents.index = [7, 17, 20, 4, 2, -1]

In [43]:
accidents

    miles_from_home  pct_of_accidents
 7      less than 1                23
 17          1 to 5                29
 20         6 to 10                17
 4         11 to 15                 8
 2         16 to 20                 6
-1          over 20                17

Като извикаме отново reste_index():

In [45]:
accidents.reset_index(inplace = True)

In [46]:
accidents

   index miles_from_home  pct_of_accidents
0      7     less than 1                23
1     17          1 to 5                29
2     20         6 to 10                17
3      4        11 to 15                 8
4      2        16 to 20                 6
5     -1         over 20                17

In [49]:
accidents_new_index = accidents.reset_index()

In [50]:
accidents

   index miles_from_home  pct_of_accidents
0      7     less than 1                23
1     17          1 to 5                29
2     20         6 to 10                17
3      4        11 to 15                 8
4      2        16 to 20                 6
5     -1         over 20                17

In [56]:
accidents = accidents.reset_index(drop = True)

Изтриваме таблица, за да освободим място или просто защото вече не ни трябва:

In [54]:
del accidents_new_index

In [57]:
accidents_new_index

NameError: name 'accidents_new_index' is not defined

Pandas може да чете от url-и:

In [60]:
credit_risk_data = pd.read_csv("https://github.com/plotly/datasets/raw/master/data.csv")

In [61]:
credit_risk_data.shape

(150000, 11)

In [63]:
credit_risk_data.dtypes

SeriousDlqin2yrs                          int64
RevolvingUtilizationOfUnsecuredLines    float64
age                                       int64
NumberOfTime30-59DaysPastDueNotWorse      int64
DebtRatio                               float64
MonthlyIncome                           float64
NumberOfOpenCreditLinesAndLoans           int64
NumberOfTimes90DaysLate                   int64
NumberRealEstateLoansOrLines              int64
NumberOfTime60-89DaysPastDueNotWorse      int64
NumberOfDependents                      float64
dtype: object